#### List
- mutal (can be change)

In [1]:
bio_data = ['Hamza', 'Trainer', '9to12']

In [2]:
bio_data

['Hamza', 'Trainer', '9to12']

#### Tuples
- immutable (can't be change)

In [3]:
tp_bio_data = ('Hamza', 'Trainer', '9to12')

In [4]:
type(tp_bio_data)

tuple

In [5]:
lst = [1]
print(type(lst))

tp = (1,)
print(type(tp))

<class 'list'>
<class 'tuple'>

In [6]:
tp_bio_data[1]

'Trainer'

In [7]:
tp_bio_data.count('Hamza')

1

In [8]:
tp_bio_data.index('Hamza')

0

In [9]:
persona_bio = ('Aslam', 62, '5.4 feet', 62)
print(persona_bio.index(62))
print(persona_bio.count('Aslam'))

1
1

#### Loops

In [10]:
fruits = ['Apple', 'Mango', 'Grapes', 'Banana']
fruits

['Apple', 'Mango', 'Grapes', 'Banana']

In [11]:
fruits[0], fruits[1]

('Apple', 'Mango')

In [12]:
'''
for <temp_var> in <iterator>:
    <body>
'''

'\nfor <temp_var> in <iterator>:\n    <body>\n'

In [13]:
for fruit in fruits:
    print(fruit)

Apple
Mango
Grapes
Banana

In [14]:
for data in bio_data:
    print(data)

Hamza
Trainer
9to12

In [15]:
em_fruits = enumerate(fruits)

In [16]:
print(list(em_fruits))
# [(0, 'Apple'), (1, "Mango"), (2, "Grapes"), (3, "Banana")]

[(0, 'Apple'), (1, 'Mango'), (2, 'Grapes'), (3, 'Banana')]

In [17]:
for data in enumerate(fruits):
    print(f"{data[1]} is at {data[0]}")

Apple is at 0
Mango is at 1
Grapes is at 2
Banana is at 3

In [18]:
# 1. make sure index should be in sequence
# 2. if the index list greate than the list of collection
# then paried tuples will be printed
fruits_index = [2,1,4,3,5] 
print(fruits_index)
fruits

[2, 1, 4, 3, 5]

['Apple', 'Mango', 'Grapes', 'Banana']

In [19]:
for data in zip(fruits_index, fruits):
    print(data[0])

2
1
4
3

In [20]:
for temp in range(5):
    print(temp)

0
1
2
3
4

In [21]:
for temp in range(2, 5):
    print(temp)

2
3
4

In [22]:
'''
stop (exclusive) by step. range(i, j)
>> produces i, i+1, i+2, ..., j-1.

range(stop) -> range object range(start, stop[, step]) -> range object
'''

for temp in range(2, 5, 2):
    print(temp)

2
4

In [23]:
for temp in range("Apple", 5):
    print(temp)

TypeError: 'str' object cannot be interpreted as an integer

In [24]:
for i in range(5):
    print('apple')

apple
apple
apple
apple
apple

In [25]:
print("Apples\n"*5)

Apples
Apples
Apples
Apples
Apples

In [26]:
group_A = ['Karachi', 'Lahore', 'Islamabad']
group_B = []

In [29]:
user_input = input("Enter your Home City for Criket Matach: ")

if user_input in group_A:
    print("Your city is already in group_A")
else:
    group_B.append(user_input)

Enter your Home City for Criket Matach:  Pindi

In [30]:
group_B

['Faisalabad', 'Multan', 'Pindi']

In [31]:
group_A

['Karachi', 'Lahore', 'Islamabad']

In [32]:
for a in range(len(group_A)):
    for b in range(len(group_B)):
        print(group_A[a], '  VS  ', group_B[b])
        if group_A[a] == group_B[b]:
            print("Matched")
            break

Karachi   VS   Faisalabad
Karachi   VS   Multan
Karachi   VS   Pindi
Lahore   VS   Faisalabad
Lahore   VS   Multan
Lahore   VS   Pindi
Islamabad   VS   Faisalabad
Islamabad   VS   Multan
Islamabad   VS   Pindi

#### Casing 

- upper()
- lower()
- title()

NOTE: they all can be applied on string dtype()

In [33]:
"Hamza".upper()

'HAMZA'

In [34]:
'HAMZA'.lower()

'hamza'

In [35]:
"hamza".title()

'Hamza'

#### Dictionaries: How to code one
- key:value

In [36]:
dict = {'age': 29,
        'weight': 73}

In [37]:
print(type(dict))

<class 'dict'>

In [38]:
dict['age']

29

In [39]:
customer = {"first name": "David",
            "last name": "Elliott",
            "address": "4803 Wellesley St."}

In [40]:
customer['address']

'4803 Wellesley St.'

In [41]:
# 1- Keys can be a number 
dict_versitality1 = {1: "Mian",
                    2: "Hamza",
                    3: "Aslam"}

In [42]:
dict_versitality1[2]

'Hamza'

In [43]:
# 2- Values can be a number 
dict_versitality2 = {"Mian":1,
                    "Hamza":2,
                    "Aslam":3}

In [44]:
dict_versitality2['Hamza']

2

In [45]:
# 2- Keys & Values both can be a number in single dict
things_to_remember = {0: "the lowest number",
                      "a dozen": 12,
                      "snake eyes":"a pair of ones",
                      13:"a baker's dozen"}

In [46]:
# add valeus in dictionaries
customer["phone"] = "+92312345678"

In [47]:
customer

{'first name': 'David',
 'last name': 'Elliott',
 'address': '4803 Wellesley St.',
 'phone': '+92312345678'}

In [48]:
customer['city'] = 'Karachi'

In [49]:
customer

{'first name': 'David',
 'last name': 'Elliott',
 'address': '4803 Wellesley St.',
 'phone': '+92312345678',
 'city': 'Karachi'}

In [50]:
dictionary = {}
taskCount = input("How many tasks you want to do today?: ")
for count in range(int(taskCount)):
    dictionary['Task '+str(count)] = input("Enter your task: ")
dictionary

How many tasks you want to do today?:  2
Enter your task:  3
Enter your task:  3

{'Task 0': '3', 'Task 1': '3'}

In [51]:
customer['city'] = "LA"

In [52]:
customer

{'first name': 'David',
 'last name': 'Elliott',
 'address': '4803 Wellesley St.',
 'phone': '+92312345678',
 'city': 'LA'}

In [53]:
del customer['phone'] # to delete phon from dict

In [54]:
customer

{'first name': 'David',
 'last name': 'Elliott',
 'address': '4803 Wellesley St.',
 'city': 'LA'}

In [55]:
# looping on dictionaries
# 1. By defualt keys & also with .keys() method
# 2. for Values we should use .values() method
# 3. for both keys & values we should use .items() method
for temp in customer.keys():
    print(temp)

first name
last name
address
city

In [56]:
for temp in customer.values():
    print(temp)

David
Elliott
4803 Wellesley St.
LA

In [57]:
for key, value in customer.items():
    print(key, "--> ", value)

first name -->  David
last name -->  Elliott
address -->  4803 Wellesley St.
city -->  LA

In [58]:
## list of dictionaries

list_of_dict = [
    {'first name': 'David',
    'last name': 'Elliott',
    'address': '4803 Wellesley St.',
    'city': 'LA'},
    {'first name': 'Qasim',
    'last name': 'Hassan',
    'address': 'Near SMIT',
    'city': 'Karachi'},
    {'first name': 'Hassan',
    'last name': 'Khan',
    'address': 'Johar town',
    'city': 'Lahore'}
]

In [59]:
customer1 = list_of_dict[0]
print(customer1)
address_customer1 = customer1['address']
print(address_customer1)

{'first name': 'David', 'last name': 'Elliott', 'address': '4803 Wellesley St.', 'city': 'LA'}
4803 Wellesley St.

In [60]:
# for list  => Index
# for dict => key
for i in range(len(list_of_dict)):
    print(list_of_dict[i]['address'])

4803 Wellesley St.
Near SMIT
Johar town